[Unit]
Description=Run Analytics Collector Daily
Requires=analytics-collector.service

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target